<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/artist/by-impresario}">
  <p>Select impresario:
    <select name="impresario">
      <option th:each="impresarioName: ${impresariosDto}"
              th:value="${impresarioName}" th:text="${impresarioName}">
    </select>
  </p>
  <br>
  <button type="submit">Find!</button>
  <br>
  <br>
  <br>
  name
  <div th:each="artistDto : ${artistsByImpresario}">
    <a th:href="@{/artist/{id}(id=${artistDto.getId()})}" th:text="${artistDto.getName()}">user</a>
  </div>

</form>
<form th:method="POST" th:action="@{/home/to-home}">
  <button type="submit">home</button>
</form>

</body>
</html>