<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/artist/multiply-genres}">
  <br/>
  <button type="submit">Find!</button>

  <div th:each="artistDto : ${artistsMultiplyGenresDto}">
    <a th:href="@{/artist/{id}(id=${artistDto.getId()})}" th:text="${artistDto.getName()}">user</a>
  </div>
</form>
<form th:method="POST" th:action="@{/home/to-home}">
  <button type="submit">home</button>
</form>

</body>
</html>