<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/artist/not-participated}" >
    <div>
        <label for="event-start-date">Start of event:</label>
        <input type="date" name="startDate" th:value="*{startDate}"
               id="event-start-date"/>
    </div>
    <div>
        <label for="event-end-date">End of event:</label>
        <input type="date" name="endDate" th:value="*{endDate}"
               id="event-end-date"/>
    </div>
    <br>
    <button type="submit">Find!</button>
    <br>
    name
    <div th:each="artistDto : ${notParticipatedArtists}">
        <a th:href="@{/artist/{id}(id=${artistDto.getId()})}" th:text="${artistDto.getName()}">user</a>
    </div>
</form>


<br>
<form th:method="POST" th:action="@{/home/to-home}">
    <button type="submit">home</button>
</form>
</body>
</html>