<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/artist/prize-winners}">
  <p>Select competition:
    <select name="competition">
      <option th:each="competitionName: ${competitionsDto}"
              th:value="${competitionName}" th:text="${competitionName}">
    </select>
  </p>
  <br/>
  <button type="submit">Find!</button>
  <br>
  <br>
  <br>
  <table class="table table-bordered tabl-striped">
    <thead class="thead-dark">
    <th>name</th>
    <th>place</th>
    </thead>
    <tbody>
    <tr th:each="artistByGenre : ${artistsByCompetition}">
      <td><p th:text="${artistByGenre.name}">name</p></td>
      <td><p th:text="${artistByGenre.place_in_rating}">place</p></td>
    </tr>
    </tbody>
  </table>
</form>
<form th:method="POST" th:action="@{/home/to-home}">
  <button type="submit">home</button>
</form>

</body>
</html>