<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/event/in-period}" >
  <div>
    <label for="event-start-date">Start of event:</label>
    <input type="date" name="startDate" th:value="*{startDate}"
           id="event-start-date"/>
  </div>
  <div>
    <label for="event-end-date">End of event:</label>
    <input type="date" name="endDate" th:value="*{endDate}"
           id="event-end-date"/>
  </div>
  <br/>
  <p>Select organizer:
    <select name="organizer">
      <option th:each="organizerName: ${organizersDto}"
              th:value="${organizerName}" th:text="${organizerName}">

    </select>
  </p>
  <button type="submit">Find!</button>
  <br>
  <br>
  <br>
  <table class="table table-bordered tabl-striped">
    <thead class="thead-dark">
    <th>name</th>
    <th>date</th>
    <th>organizer</th>
    <th>culturalBuilding</th>

    </thead>
    <tbody>
    <tr th:each="eventDto : ${eventsInPeriod}">
      <td><p th:text="${eventDto.name}">name</p></td>
      <td><p th:text="${eventDto.date}">date</p></td>
      <td><p th:text="${eventDto.organizer}">organizer</p></td>
      <td><p th:text="${eventDto.culturalBuilding}">culturalBuilding</p></td>


    </tr>
    </tbody>
  </table>
</form>
<form th:method="POST" th:action="@{/home/to-home}">
  <button type="submit">home</button>
</form>

</body>
</html>