<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <p> <label>  Artist </label> </p>
    <a th:href="@{/artist/by-genre}">by genre</a>
    <br>
    <a th:href="@{/artist/by-impresario}">by impresario</a>
    <br>
    <a th:href="@{/artist/multiply-genres}">multiply genres</a>
    <br>
    <a th:href="@{/artist/prize-winners}">prize winners</a>
    <br>
    <a th:href="@{/artist/not-participated}">not participated</a>
    <br>
    <p> <label>  Impresario </label> </p>
    <a th:href="@{/impresario/by-artist}">by artist</a>
    <br>
    <a th:href="@{/impresario/by-genre}">by genre</a>
    <br>

    <p> <label>  Organizer </label> </p>
    <a th:href="@{/organizer/in-period}">by date of cultural event</a>
    <br>

    <p> <label> Cultural Event </label></p>
    <a th:href="@{/event/by-cultural-building}">by cultural building</a>
    <br>
    <a th:href="@{/event/in-period}">in period</a>
    <br>


    <p> <label> Cultural Building </label></p>
    <a th:href="@{/cultural_building/in-period}">in period</a>
    <br>
    <a th:href="@{/cultural_building/by-size}">by number of seats</a>
    <br>



</div>
<br>

</body>
</html>