<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/cultural_building/by-size}">
    <label>Enter num of seats: </label>
    <input type="text" th:name="numOfSeats" th:placeholder="numOfSeats" />
    <br>
    <button type="submit">Find!</button>
    <br>
    <br>
    <br>
    <table class="table table-bordered tabl-striped">
        <thead class="thead-dark">
        <th>name</th>
        <th>num of seats</th>
        </thead>
        <tbody>
        <tr th:each="culturalBuilding : ${culturalBuildingsDto}">
            <td><p th:text="${culturalBuilding.name}">name</p></td>
            <td><p th:text="${culturalBuilding.numOfSeats}">num of seats</p></td>
        </tr>
        </tbody>
    </table>
</form>
<form th:method="POST" th:action="@{/home/to-home}">
    <button type="submit">home</button>
</form>
</body>
</html>